@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bandhagen,<br />
    Stockholm<br />
    <abbr title="Phone">P:</abbr>
    0739938827
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:bassam.gamal@gmail.com">bassam.gamal@gmail.com</a><br />
</address>